body{
    overflow-x: hidden;

}
html{
    scroll-behavior: smooth;
}
.bgg{
    background-color: rgba(0, 0, 0, 0.711);
}
*{
 padding: 0px;
 margin: 0px;
 font-family: 'Rubik', sans-serif;
}
h3{
    font-weight: 600;
    font-size: 30px;
}
.bgi{
    background-image: url('../src/assets/images/bg-dots.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
}
.bgl{
    background-image: url('../src/assets/images/bg-dots.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
}
@media (max-width: 640px){
   .sm{
    display: none;
   }
 
}